/* * {
    padding: 0;
    margin: 0;
} */

.container {
    width: 500px;
    margin: 0 auto;
    align-items: center;
}

#title {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#parent {
    padding: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid;
    overflow-y: scroll;
    overflow: auto;
}

#table {
    border: 2px solid blue;
    /* display: none; */
}

td {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    margin: 10px;
    padding: 5px 20px;
    cursor: pointer;
}

td:hover {
    color: rgb(49, 248, 9);
}

.ball {
    background-image: url('75935642016354191964521-128.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.errClick {
    color: red;
    border-radius: 30px;
    border: 2px solid;
    padding: 3px 18px;
    box-sizing: border-box;
}

.outerUl {

    height: 64px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #7777;
    overflow: hidden;
    cursor: pointer;

}

.question {
    position: relative;
    padding: 20px 0;
    margin: 0;
    font-size: 20px;
}

.imgD {
    position: absolute;
    left: -30px;
    top: 26px;
}

.active {
    transform: rotate(180deg);
}

.innerUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    padding: 5px 0;
}

.show {
    height: auto;
}



.comments__list {
    list-style: none;
    border: 2px solid #777;
    margin: 0;
    padding: 0;
}

.itemCom {
    position: relative;
    padding: 10px 15px;
    border-bottom: 2px solid #777;
}

.btn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn::after,
.btn::before {
    position: absolute;
    width: 20px;
    height: 3px;
    left: 0;
    display: block;
    background-color: #444;
    content: '';
}

.btn::before {
    transform: rotate(-45deg);
}

.btn::after {
    transform: rotate(45deg);
}


.slider {
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.slides {
    position: absolute;
}

.buttons {
    position: absolute;
    z-index: 3;
}

.slideNum {
    position: absolute;
    margin: 0;
    color: #fff;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 0;
}